<!DOCTYPE html>
<html>
  <header class=" navbar-fixed-top navbar-inverse">
    <div class="container">

    </div>
    <center> <%= menu %> </center>
  </header>

  <body>
    <h2>Home</h2>

    <div>
      <p align="justify">


<footer class="footer">
  <small>
    <center>
      All rights reserved by @fabiosoaresv
    </center>
  </small>
</footer>
</html>
