<!DOCTYPE html>
<html>
  <header class=" navbar-fixed-top navbar-inverse">
    <div class="container">

    </div>
    <center> <%= menu %> </center>
  </header>

  <body>
    <h2>Contact</h2>
    <h4>Fabio Soares
      <br>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <a href="https://api.whatsapp.com/send?phone=5511959164508"><i class="fa fa-whatsapp" style="font-size:24px"></a></i>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <a href="https://www.linkedin.com/in/fabio-soaresv"><i class="fa fa-linkedin-square" style="font-size:24px"></a></i>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <a href="https://www.facebook.com/faasoaresv"><i class="fa fa-facebook-official" style="font-size:24px"></a></i>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <a href="http://github.com/fabiosoaresv"><i class="fa fa-github" style="font-size:24px"></a></i>
    </h4>
    <div>
      <p align="justify">


<footer class="footer">
  <small>
    <center>
      All rights reserved by @fabiosoaresv
    </center>
  </small>
</footer>
</html>
